html{
    scroll-behavior: smooth;
    background: white;
}

body {
    margin: 0;
    font-family: 'Georgia';
    height: 100vh;
    width: 100vw;
}

:root {
    --font-color1: #120309; // 
    --font-color2: #4D93A8; //F55C3D 3B7080B
    --font-color3: #DDD5D0;

    --background-color3: #E0E0E0;
}

.navbar{
    background: var(--background-color3);
    padding-top: 1.50vh;
    padding-bottom: 1.5vh;
    margin-right: 0;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: var(--font-color1);
        font-size: 1.2em;
        padding: 0;
        padding-left: 1em;
    }  

    .logo-name{
        color: var(--font-color2);
    }

    nav {
        display: none;
    }
    
    .container{
        display: flex;
        justify-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
    }
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 33%;
    right: 0;
    top: 0;
    background: var(--font-color2);
    height: 100vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }
    li {

        a {
        color: white;
        text-decoration: none;
        display: block;
        padding: .5em;
        font-size: 1.3em;
        text-align: right;

        &:hover {
            font-weight: bold;
        }

        }
    }
}

.mobile-menu-exit{
    float: right;
    margin: .5em;
    cursor: pointer;
}

.hero{

    .title{
        font-size: 3.5vh;
        margin-left: 1em;
    }

    .container{
        padding: 15px;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid gray;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #73ADBF;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type=submit]:hover{
        background-color: var(--font-color2);

    }

}

@media only screen and (min-width: 768px){
    .mobile-menu, .mobile-menu-exit{
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 300px auto;
        justify-content: unset;
    }

    .navbar nav {
        display:flex;
        place-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }
        a{
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }
        ul.primary-nav {
            margin: 0;
            padding-left: 3em;
        }
        ul.secondary-nav {
            margin: 0;
            padding-right: 3em;
        }
    }


}