html{
    scroll-behavior: smooth;
    background: white;
}

body {
    background: aliceblue;
    margin: 0;
    font-family: 'Georgia';
}

:root {
    --font-color1: #120309; // 
    --font-color2: #4D93A8; //F55C3D 3B7080B
    --font-color3: #DDD5D0;
 
    --background-color1: #EBEBEB;
    --background-color2: #1C110A; //222222
    --background-color3: #E0E0E0;
}


.navbar{
    background: var(--background-color1);
    padding: 1em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: var(--font-color1);
        font-size: 1.2em;
        padding: 0 2em;
    }  

    .logo-name{
        color: var(--font-color2);
    }

    nav {
        display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }

    .mobile-menu{
        cursor: pointer;
    }
}

.introduction {
    background: var(--background-color3);
    color: var(--font-color1);
    background-image: url(../images/Profile\ Pic.jpg);
    background-size: cover;
    //background-position: center;


    .greeting {
        font-size: 1em;
    }
    .name{
        font-size: 2em;
        font-weight: bold;
        span{
            color:var(--font-color2);
        }
    }
    .title{
        font-size: 1.25em; 
    }
}

a {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    padding: 3em 2em;
}

.about-me-section{
    background: var(--background-color1);
    padding: 1em;
    display: inline-flex;
    align-items: center;

    .about-left{
        padding: 0 .5em 0 0.5em;
    }

    .profile-pic {
        height: 15em;
        width: auto;
        margin: 1em auto 0.5em auto;
    }

    .about-right{
        padding: 0 .5em 0 0.5em;
    }

    .head{
        color: var(--font-color2);
        background: var(--background-color2);
        text-align: center;
    }

    .description {
        font-size: 0.9em;   
        text-align: center;
        color: var(--font-color1);
    }
}

.project-section{
    background: var(--background-color3);

}

ul.project-items {
    margin: 0;
    padding-left: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1f));

    li {
        font-size: 1.2em;
        margin-bottom: 1em;
        margin-left: 2em;    
    }

    .mixed-message-pic{
        display: none;
        height: auto;
        width:30em;
        transform: rotate(90deg);
    }

}

.skill-section{
    background: var(--background-color3);

    .skill-items {
        display: inline-block;
        margin-right: 1em;
        padding: 1em;
    }
}

h2 {
    font-size: 1.75em;
    line-height: 1.5em;
}

.head{
    background: gray;
    border-radius: 3em;
    padding: 0em 1em;
    font-weight: bold;
    display: flex;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 33%;
    right: 0;
    top: 0;
    background: coral;
    height: 100vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }
    li {

        a {
        color: white;
        text-decoration: none;
        display: block;
        padding: .5em;
        font-size: 1.3em;
        text-align: right;

        &:hover {
            font-weight: bold;
        }

        }
    }
}

.mobile-menu-exit{
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit{
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 300px auto;
        justify-content: unset;
    }

    .navbar nav {
        display:flex;
        place-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }
        a{
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }
        ul.primary-nav {
            margin: 0;
        }
        li.current a{
            font-weight: bold;
        }

    }



}