html {
  scroll-behavior: smooth;
  background: white;
}

body {
  background: aliceblue;
  margin: 0;
  font-family: "Georgia";
  height: 100vh;
  width: 100%;
}

:root {
  --font-color1: #120309;
  --font-color2: #4D93A8;
  --font-color3: #DDD5D0;
  --background-color1: #EBEBEB;
  --background-color2: #1C110A;
  --background-color3: #E0E0E0;
}

.navbar {
  background: var(--background-color1);
  padding: 1.75vh;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--font-color1);
  font-size: 1.2em;
  padding: 0;
  padding-right: 5em;
  padding-left: 3em;
}
.navbar .logo-name {
  color: var(--font-color2);
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
}

.introduction {
  background: var(--background-color3);
  color: var(--font-color1);
  background-image: url(../images/intro-img.svg);
  background-size: cover;
  background-position: center;
  background-size: 75vh;
}
.introduction .greeting {
  font-size: 1.75vh;
}
.introduction .name {
  font-size: 4vh;
  font-weight: bold;
}
.introduction .name span {
  color: var(--font-color2);
}
.introduction .title {
  font-size: 2.75vh;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 3em 2em;
}

.about-me-section {
  background: var(--background-color1);
  padding: 1vh;
  display: inline-flex;
  align-items: center;
}
.about-me-section .about-left {
  padding: 0 0.5em 0 0.5em;
}
.about-me-section .profile-pic {
  height: 30vh;
  width: auto;
  margin: 1em auto 0.5em auto;
}
.about-me-section .about-right {
  padding: 0 0.5em 0 0.5em;
  size: 15vh;
}
.about-me-section .head {
  color: var(--font-color2);
  background: var(--background-color2);
  text-align: center;
}
.about-me-section .description {
  font-size: 2vh;
  text-align: center;
  color: var(--font-color1);
}

.project-section {
  background: var(--background-color3);
}

ul.project-items {
  margin: 0;
  padding-left: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1f));
}
ul.project-items li {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-left: 2em;
}
ul.project-items .mixed-message-pic {
  display: none;
  height: auto;
  width: 30em;
  transform: rotate(90deg);
}

.skill-section {
  background: var(--background-color3);
}
.skill-section .skill-items {
  display: flex;
  margin-right: 1em;
  margin-left: 2em;
  justify-content: space-between;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}

.head {
  background: gray;
  border-radius: 3em;
  padding: 0em 1em;
  font-weight: bold;
  display: flex;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 33%;
  right: 0;
  top: 0;
  background: var(--font-color2);
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 300px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    place-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
}/*# sourceMappingURL=index.css.map */